/* CONTACT */
.container-content{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    margin: auto;
}

.h2-content {
    margin: 20px 250px 20px 250px;
}

.p-content {
    margin: 20px 250px 20px 250px;
    text-align: justify;
}

.p-contact {
    margin: 20px 1000px 20px 250px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cv-content {
    margin: 5px 250px 20px 250px;
}

.fa-solid {
    margin-left: 5px;
    cursor: pointer;
} 

.ul-navbar {
    display: flex;
    height: px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    margin: 5px;
    cursor: pointer;
}

.portofolio {
    border: 1px solid gray;
    border-radius: 5px;
    display: block;
    margin: 20px auto 20px auto;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 5px gray;
}
/* CONTACT END */

/* NAVBAR */